<!DOCTYPE html>
<html>
  <head>
    <title>ShowmeProject</title>
    <%= csrf_meta_tags %>

    <!-- LINKS TO RELEVENT STYLESHEETS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- LINKS TO RELEVENT FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <!-- LINK TO RELEVENT JS SCRIPTS -->

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <meta property="og:image" content="https://www.spartaglobal.com/img/sparta-global-logo-white.svg" />

  </head>




<body>
  <div class="continer-fluid">
    <div class="row">
      
      <div class="col-2 side-bar">
       




        <% if user_signed_in? %>
  			  <p class="side-bar-title"><%= current_user.name %></p>
  			  <div class="user-portrait"></div>
    	    <p>Logged in as <br><%= current_user.email %> <br>
            
            <!-- Displays whether user is a member or an admin -->
            <% if current_user.admin %>
              <span style="color:red">ADMIN</span>
            <% else %>
                MEMBER
            <% end %>
          </p>
        <% else %>




          <p class="side-bar-title"> NOT LOGGED IN </p>
        <% end %>
    
  


        <div class="nav-bar">
      
        <a href="/" class="side-link"><p>Full Portfolio</p></a>
        <a href="/articles" class="side-link"><p>Personal Projects</p></a>
        <a href="/articles/new" class="side-link"><p>New Project</p></a>
        <a href="/users/edit" class="side-link"><p>View Profile</p></a>
        <!-- Only allows admins access to the users index page -->
        <% if user_signed_in? && current_user.admin %>
          <a href="/users" class="side-link"><p>User Index</p></a>
          <a href="/articles/approve" class="side-link"><p>Unapproved Articles <span class="notification"><%= $unapproved_number %></span></p></a>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "side-link" %>
        <% end %>
        <% if !user_signed_in? %>
          <p><%= link_to "Sign up", new_user_registration_path, :class => "side-link" %></p>
          <p><%= link_to "Login", new_user_session_path, :class => "side-link" %></p>
        <% end %>
        

        <!-- Section of the sidebar that allows articles to be searched through -->
        <div class="search-bar">
          
          <!-- form that exports text as :search into params, which is dealt with in the controller/model -->
          <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
            <%= submit_tag "Search" %>
          <% end %>
            
        </div> 
        
        <!-- Sparta logo at the bottom of the sidebar -->
        <img src="https://www.spartaglobal.com/img/sparta-global-logo-white.svg" class="sparta-logo"> 

      </div>


      </div>


























      <!-- Section of the sidebar containing links to other sections of the site -->
      
      <div class="col-10 bg_code">
        


            <!-- div containing the articles to the right of the sidebar -->
        <div class="article-bar">
          <div class="row">
        
              <% if notice %>
                <p class="alert alert-success custom-alert"><%= notice %></p>
              <% end %>
            
              <% if alert %>
                <p class="alert alert-danger custom-alert"><%= alert %></p>
              <% end %>
            
              <!-- yields to the current page content -->
              <%= yield %>
          </div>


        </div>
        
      </div>

    </div>
  </div>

</body>
</html>







