<!DOCTYPE html>
<html>
  <head>
    <title>ShowmeProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class="side-bar">

  		<div class="user-bar">
  			<img src="user-image" class="user-image">
  			<h5> USER NAME </h5>
  			<p> Logged in as <br>
  				<%= %> <br>
  				ADMIN </p>
  		</div>

  		<div class="nav-bar">
  		
	  		<ul>
		  		<li>Full Portfolio</li>
		  		<li>Personal Projects</li>
		  		<li>New Project</li>
		  		<li>View Profile</li>
		  		<li>Log Out</li>
	  		</ul>

	  		<div class="search-bar">
	  		</div> 

  		</div>
 
  	</div>

    <%= yield %>
  </body>
</html>
