<!DOCTYPE html>
<html>
  <head>
    <title>ShowmeProject</title>
    <%= csrf_meta_tags %>

<!-- 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
  </head>

  <body>
  	<div class="side-bar">

  		<div class="user-bar">

        <% if user_signed_in? %>
  			  <p><%= current_user.name %></p>
  			  <div class="user-portrait"></div>
    	    <p>
             Logged in as <br><%= current_user.email %> <br>
              <%= link_to "Edit Profile", edit_user_registration_path, :class => "side-link" %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "side-link" %>
              <% if current_user.admin %>
                <span style="color:red">ADMIN</span>
              <% else %>
                MEMBER
              <% end %>

              <% else %>
                <p> NOT LOGGED IN </p>
                <%= link_to "Sign up", new_user_registration_path, :class => "side-link" %>
                <%= link_to "Login", new_user_session_path, :class => "side-link" %>
              <% end %>
          

        
        
          </p>
  		</div>

  		<div class="nav-bar">
  		
		  	<a href="/" class="side-link"><p>Full Portfolio</p></a>
		  	<a href="/articles" class="side-link"><p>Personal Projects</p></a>
		  	<a href="/articles/new" class="side-link"><p>New Project</p></a>
		  	<a href="/users/edit" class="side-link"><p>View Profile</p></a>
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <a href="/users" class="side-link"><p>User Index</p></a>
          <% end %>
  	  	<% end %>
      </div>
	  		
      <div class="search-bar">
        
      <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
      <%= submit_tag "Search" %>
      
      <% end %>
	  		
        </div> 

        <img src="https://www.spartaglobal.com/img/sparta-global-logo-white.svg" class="sparta-logo">

  		
 
  	</div>

    <div class="article-bar">
  	<% if notice %>
  		<p class="alert alert-success custom-alert"><%= notice %></p>
  	<% end %>
  	<% if alert %>
  		<p class="alert alert-danger custom-alert"><%= alert %></p>
  	<% end %>
    
    <%= yield %>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  </body>
</html>
