<!DOCTYPE html>
<html>
  <head>
    <title>ShowmeProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="side-bar">

  		<div class="user-bar">
  			<img src="user-image" class="user-image">
  			<h5> USER NAME </h5>
  			
    			<p>
            <% if user_signed_in? %>
              <p> Logged in as <br>
              <strong><%= current_user.email %></strong> <br>
              <%= link_to "Edit Profile", edit_user_registration_path%>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              
            <% else %>
              <p> NOT LOGGED IN </p>
              <%= link_to "Sign up", new_user_registration_path %>
              <%= link_to "Login", new_user_session_path %>
            <% end %>
          </p>

        ADMIN
        
        </p>
  		</div>

  		<div class="nav-bar">
  		
	  		
		  		<a href="#"><p>Full Portfolio</p></a>
		  		<a href="#"><p>Personal Projects</p></a>
		  		<a href="#"><p>New Project</p></a>
		  		<a href="#"><p>View Profile</p></a>
		  		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	  		

	  		<div class="search-bar">
	  		</div> 

  		</div>
 
  	</div>

  	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
  	<% end %>
  	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
  	<% end %>
    
    <%= yield %>
  </body>
</html>
