<!DOCTYPE html>
<html>
  <head>
    <title>ShowmeProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class="side-bar">

  		<div class="user-bar">
  			<img src="user-image" class="user-image">
  			<h5> USER NAME </h5>
  			<p> Logged in as <br>
  				<%= User.find(1).email %> <br>
  				ADMIN </p>
  		</div>

  		<div class="nav-bar">
  		
	  		
		  		<p>Full Portfolio</p>
		  		<p>Personal Projects</p>
		  		<p>New Project</p>
		  		<p>View Profile</p>
		  		<p>Log Out</p>
	  		

	  		<div class="search-bar">
	  		</div> 

  		</div>
 
  	</div>

    <%= yield %>
  </body>
</html>
