<div class="article">
  <p>Title: <strong><%= article.title %></strong></p>
  <p>Desrcription: <strong><%= article.description %></strong></p>
  <p>Git Link: <strong><%= article.git_link %></strong></p>	

  <br>
  <%= link_to "Show Page", article if action_name == "index" %> 
  <% if can? :update, article %>
    <%= link_to "Edit Page", edit_article_path(article) %>

    <%= link_to "Destroy", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>