
<% if @article.errors.any? %>

  <h3><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>

  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

<% end %>

<div id='form-body'>
  <%= form_for(@article) do |f| %>

    <%= f.label :title, "Title: " %>
    <br>
    <%= f.text_field :title, size: 70 %>

    <br> <br>

    <%= f.label :description, "Description: " %> 
    <br>
    <%= f.text_area :description, size: "70x20" %>

    <br> <br>

    <%= f.label :bg_image, "Background Image: " %>
    <br>
    <%= f.text_field :bg_image, size: 70 %>

    <br> <br>

    <%= f.label :proj_image, "Project Image: " %>
    <br>
    <%= f.text_field :proj_image, size: 70 %>

    <br> <br>

    <%= f.label :git_link, "GitHub URL: " %>
    <br>
    <%= f.text_field :git_link, size: 70 %>

    <br> <br>

    <%= f.label :difficulty, "Difficulty (1-10): " %>
    <br>
    <%= f.range_field :difficulty, :min=>0, :max=>10, :class=>"slide", :id=>"slider3"%>
    

    <br>

    <%= f.submit %>

  <% end %>
</div>
