
<% if @article.errors.any? %>

  <h3><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>

  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

<% end %>


<%= form_for(@article) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :bg_image %>
  <%= f.text_field :bg_image %>

  <br>

  <%= f.label :proj_image %>
  <%= f.text_field :proj_image %>

  <%= f.label :git_link %>
  <%= f.text_field :git_link %>

  <%= f.label :difficulty %>
  <%= f.number_field :difficulty %>


  <%= f.submit %>


<% end %>