<div class="container-fluid">

  <div class="row show-title">
    <div class="col-12">
      <div class="title-box1">
        <h1 class="title-box-text"><%= @article.title %></h1>
      </div>
    </div>  
</div>




<div class="show-links">
    <p class="show-author"><strong>Created by:</strong> <%= @article.author %></p>
    <p class="show-author"><strong>GitHub link:</strong> <%= @article.git_link %></p>
    <p class="show-author"><strong>Project difficulty:</strong> <%= @article.difficulty %></p>
</div>      



  
  
  
<!--   <% if action_name == "show" %>

    <p>Description: <strong><%= @article.description %></strong></p>
    <p>Git Link: <strong><%= @article.git_link %></strong></p>
    <br>
  <% end %>
  
  <%= link_to "Home Page", "/" if @action_name == "show" %> 
  <%= link_to "View", @article, :class => 'show-button' unless action_name == "show" %> 
  
  <img class='bg-image' src="<%= @article.bg_image %>">

  <% if can? :update, @article %>
    <%= link_to "Edit Page", edit_article_path(@article) if action_name == "show" %>
    <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } if action_name == "show" %>
  <% end %>
 --></div>